/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*************Boilerplate ends here*************/

/*************Structure***************/

* {
  box-sizing: border-box;
  color: #fff;
}

:root {
  --blue: #006099;
  --lightblue: #54839e;
  --yellow: #f9cc5b;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
/******Grids*******/
.container {
  display: grid;
  height: auto;
  width: 95vw;
  margin: auto;
  text-align: center;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
}

.nested {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(autofit, minmax(50px, 1fr));
}
/*****Language switch********/
header {
  grid-column: 1 / end;
  grid-row: 1 / 2;
  background: var(--blue);
}

.langWrap {
  padding: 5px 0;
}

.langWrap a {
  text-decoration: none;
  padding: 0 15px;
  font-weight: 800;
  background: gray;
}

.langWrap a.active {
  background-color: var(--lightblue);
  font-size: 20px;
}

.langWrap .a:hover {
  font-size: 16px;
  transition: 0.3s;
}

/**********Navbar*********/
nav {
  grid-column: 1 / end;
  grid-row: 2 / 3;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

nav img {
  width: 70px;
  margin: 5px;
}

.name {
  color: var(--blue);
  font-weight: 600;
  text-decoration: none;
  font-size: 10.5px;
}

.nav-links {
  text-align: right;
  display: inline-block;
  width: 100%;
  justify-content: space-around;
}

.ar .nav-links {
  text-align: left;
}

.nav-links li {
  list-style: none;
  display: inline-block;
  padding: 1% 4%;
  position: relative;
}

.nav-links li a {
  color: var(--blue);
  text-decoration: none;
  font-size: 12.5px;
  text-shadow: 0.3px 0.3px var(--lightblue);
}

.nav-link::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--blue);
  display: block;
  margin: auto;
}

.nav-link:hover::after {
  width: 100%;
  transition: 0.5s;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--blue);
  margin: 6px;
  transition: all 0.3s ease;
}

main {
  grid-column: 1 / end;
  grid-row: 3 / 4;
}

footer {
  grid-column: 1 / end;
  grid-row: 4 / 5;
  background: var(--blue);
  text-align: left;
}

.contacts {
  padding: 10px 15px;
}

.ar footer {
  text-align: right;
}

.contacts li {
  list-style: none;
}

/*************Home***************/
.text-box {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  padding: 200px 50px;
  background-image: linear-gradient(rgba(4, 9, 30, 0.45), rgba(4, 9, 30, 0.45)), url('../img/home-background.jpg');
  background-position: center;
  background-size: cover;
}

.text-box h1 {
  font-size: 1.5rem;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 1rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid;
  margin-top: 10px;
  padding: 12px 34px;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  width: 15rem;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  transition: 1.5s;
}

.about-btn:hover {
  border: 1px solid var(--yellow);
  background: var(--yellow);
  box-shadow: 10px 20px 20px 10px rgba(0, 0, 0, 0.3);
}

#programmes, #study-plans {
  font-size: 12px;
  background-color: var(--lightblue);  
  padding: 100px 25px;
}

#programmes {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  /*background-image: linear-gradient(rgba(4, 9, 30, 0.45), rgba(4, 9, 30, 0.45)), url('../images/programmes.jpg');
  background-position: center;
  background-size: cover;*/
}

#study-plans {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: green;
  /*background-image: linear-gradient(rgba(4, 9, 30, 0.45), rgba(4, 9, 30, 0.45)), url('../images/programmes.jpg');
  background-position: center;
  background-size: cover;*/
}

.programmes-btn:hover, .studyplans-btn:hover{
  border: 1px solid var(--blue);
  background-color: var(--blue);
}

/*********About****************/
.about-box {
  padding: 100px 50px;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url('/img/programmes.jpg');
  background-position: center;
  background-size: cover;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.about-box h1 {
  font-size: 16px;
}

.about-box h1, .about-box h2, .about-box p {
  color: #fff;
  text-shadow: 4px 1px 3px rgba(102, 105, 105, 0.82);
}

.box h2, .box p {
  color: var(--blue);
}

.box {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 100%;
  grid-row: 2 / 3;
  padding: 75px 25px;
  box-shadow: 5px 5px 10px 0px rgba(122, 62, 62, 0.1);
  border-radius: 5px;
}

.message-box {
  background-color: #fff;
  box-shadow: none;
}

.box h2:nth-child(1) {
  font-size: 16px;
}

.ar .box {
  text-align: right;
}

/*******Programmes**********/
aside {
  grid-column: 1 / 2;
  background-color: var(--blue);
  padding: 30px 0;
}

aside h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

aside h2 a {
  text-decoration: none;
}

aside ul li {
  padding: 15px;
  border-bottom: 1px solid rgba(225, 225, 225, 0.5);
  border-top: 1px solid rgba(225, 225, 225, 0.5);
  list-style: none;
}

aside ul li:hover {
  background-color: var(--lightblue);
  transition: 0.5s;
}

aside ul li a {
  display: block;
  text-decoration: none;
  text-align: left;
}

.programmes {
  grid-column: 2 / 3;
  text-align: left;
}

.ar .programmes {
  text-align: right;
}

.programme {
  border-left: 10px solid var(--lightblue);
  padding: 30px;
  color: var(--blue);
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.1);;
}

.ar .programme {
  border-left: none;
  border-right: 10px solid var(--lightblue);
}

.programme p, .programme h2 {
  color: var(--blue);
}

#programmes-page .btn {
  background-color: var(--lightblue);
}

#programmes-page .btn:hover {
  background-color: var(--blue);
  border: 1px solid var(--blue);
}

@media only screen and (max-width: 768px) {
  .name {
      display: none;
  }

  #programmes {
    grid-column: span 2;
    grid-row: 2 / 3;
  }

  #study-plans {
    grid-column: span 2;
    grid-row: 3 / 4;
  }

  .box {
    box-shadow: none;
  }

  .about-box {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .mission-box {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .goals-box {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .nav-links {
    position: absolute;
    background: #fff;
    height: 100vh;
    z-index: 2;
    top: 5.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    left: -100%;
    transition: all 0.5s ease-in;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
  }

  .nav-links li {
      opacity: 0;
  }

  .burger {
    padding: 10px;
    display: block;
    cursor: pointer;
  }

  .nav-active {
      left: 0;
  }

  .ar .nav-links {
    left: 0;
  }

  .ar .nav-active {
    left: -100%;
  }

  @keyframes navLinkFade {
      from{
          opacity: 0;
          transform: translateX(0px);
      }
      to{
          opacity: 1;
          transform: translateX(-40px);
      }
  }

  .toggle .line1 {
      transform: rotate(-45deg) translate(-6px, 5px);
  }

  .toggle .line2 {
      opacity: 0;
  }

  .toggle .line3 {
      transform: rotate(45deg) translate(-6px, -5px);
  }

  aside {
    grid-column: 1 / end;
    grid-row: 1 / 2;
  }

  .programmes {
    grid-column: 1 / end;
    grid-row: 2 / 3;
  }
}
